.schedule-wrapper {
  .schedule-workspace {
    .workspace-header {
      .header-timeline {
        margin-left: 100px;
        display: flex;
        margin-bottom: 8px;
        border: 1px solid #dfe5ed;
        border-right: 0;
        .timeline-cell {
          min-width: 50px;
          font-size: 12px;
          color: #7b8fa5;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          border-right: 1px solid #dfe5ed;
        }
      }
    }
  }
}
